button{
  width:100px;
  height:50px;
  display:inline-block;
  margin-bottom: 10px;
}
#clear-button{
  display:block;
}

.circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display:inline-block;
  border: 1px solid black;
}
.green{
  background:green;
}
.red{
  background:red;
}
.orange{
  background:orange;
}
.blue {
  background: blue;
}
.purple {
  background: purple;
}
.yellow {
  background: yellow;
}